{% extends 'todo_app/base2.html' %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up" style="background-color: white; padding: 20px; box-shadow: 0 0 20px rgb(126 126 126 / 87%); border-radius: 20px; border: 5px solid rgb(18, 138, 124);">
    
          <div class="section-header">
            <h2>Delete Task</h2>
            <p>Are you sure you want to delete "{{ task.title }}"?</p>
          </div>
    
          <div class="row gx-lg-0 gy-4" style="display: flex;
          align-items: center;
          justify-content: center;
          ">
            <div class="col-lg-8" style="margin: auto; width: fit-content;">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-info">Delete</button>
                </form>
            </div>
            <a href="{% url 'todo_list' %}">Back</a>
          </div>
    
        </div>
      </section>
    {% endblock %}